[submodule "pyobd"]
	path = pyobd
	url = https://github.com/souvik1997/pyobd.git
	url = git://alt.souvik.me/pyobd.git
	branch = souvik
[submodule "server/picard/static/bootstrap"]
	path = server/picard/static/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "server/picard/static/jquery"]
	path = server/picard/static/jquery
	url = https://github.com/jquery/jquery.git
[submodule "server/picard/static/highcharts.com"]
	path = server/picard/static/highcharts.com
	url = https://github.com/highslide-software/highcharts.com.git
[submodule "server/picard/static/moment"]
	path = server/picard/static/moment
	url = https://github.com/moment/moment.git
[submodule "server/picard/static/bootstrap-daterangepicker"]
	path = server/picard/static/bootstrap-daterangepicker
	url = https://github.com/dangrossman/bootstrap-daterangepicker.git
