[submodule "pyobd"]
	path = pyobd
	url = git://souvik@alt.souvik.me:/var/www/git/pyobd.git
	branch = souvik
[submodule "server/static/bootstrap"]
	path = server/static/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "server/static/jquery"]
	path = server/static/jquery
	url = https://github.com/jquery/jquery.git
